MACOSX_DEPLOYMENT_TARGET = 10.10
CURRENT_PROJECT_VERSION = 0.2.0

INSTALL_PREFIX = /opt/xhyve

CODE_SIGN_IDENTITY = -

VERSIONING_SYSTEM = apple-generic

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
PREBINDING = NO

ENABLE_STRICT_OBJC_MSGSEND = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_MODULES = YES

GCC_C_LANGUAGE_STANDARD = gnu11
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = s

OTHER_CFLAGS_common = -fstrict-aliasing
OTHER_CFLAGS = $(inherited) $(OTHER_CFLAGS_common)
OTHER_LDFLAGS_common =
OTHER_LDFLAGS = $(inherited) $(OTHER_LDFLAGS_common)
GCC_PREPROCESSOR_DEFINITIONS_common =
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GCC_PREPROCESSOR_DEFINITIONS_common)

HEADER_SEARCH_PATHS = $(SRCROOT)/include $(inherited)

WARNING_CFLAGS = -Weverything -Wall -Wno-error=deprecated -Wno-unknown-warning-option -Wno-reserved-id-macro -Wno-missing-variable-declarations -pedantic
GCC_TREAT_WARNINGS_AS_ERRORS = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_PARAMETER = YES
GCC_WARN_UNUSED_VARIABLE = YES

LLVM_LTO = YES
