#include "common.xcconfig"

COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO

GCC_OPTIMIZATION_LEVEL = 0
LLVM_LTO = NO

OTHER_CFLAGS_debug = $(OTHER_CFLAGS_common) -fno-inline
OTHER_CFLAGS = $(inherited) $(OTHER_CFLAGS_debug)

OTHER_LDFLAGS_debug = $(OTHER_LDFLAGS_common)
OTHER_LDFLAGS = $(inherited) $(OTHER_LDFLAGS_debug)

GCC_PREPROCESSOR_DEFINITIONS_asan = $(GCC_PREPROCESSOR_DEFINITIONS_common) XHYVE_CONFIG_ASSERT
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GCC_PREPROCESSOR_DEFINITIONS_common)

