#include "common_debug.xcconfig"

OTHER_CFLAGS_asan = $(OTHER_CFLAGS_common) -fsanitize=address
OTHER_CFLAGS = $(inherited) $(OTHER_CFLAGS_asan)

OTHER_LDFLAGS_asan = $(OTHER_LDFLAGS_debug) -fsanitize=address
OTHER_LDFLAGS = $(inherited) $(OTHER_LDFLAGS_asan)

GCC_PREPROCESSOR_DEFINITIONS_asan = $(GCC_PREPROCESSOR_DEFINITIONS_debug)
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GCC_PREPROCESSOR_DEFINITIONS_asan)
